
@{
    ViewBag.Title = "CheckOut";
}




<div class="container px-3 my-5 clearfix">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 20px;">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item"><a href="#">購物車</a></li>
            <li class="breadcrumb-item active" aria-current="page">結帳頁面</li>
        </ol>
    </nav>
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>結帳頁面</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr style="text-align: center;">
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 150px;">商品名稱</th>
                            <th class="text-center py-3 px-4" style="min-width: 150px;">備註資訊</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">價格</th>
                            <th class="text-center py-3 px-4" style="width: 140px;">數量</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">小計</th>
                            <!-- <th class="text-center" style="width: 95px;"><a class="btn btn-sm btn-outline-danger" href="#">清空</a></th> -->
                        </tr>
                    </thead>
                    @{

                        decimal? sum = 0;
                        foreach (var item in Model)
                        {

                            decimal? total = item.fPrice * item.fQuantity;
                            sum += total;
                            <tbody>
                                <tr>
                                    <td class="p-4">
                                        <div class="media align-items-center">
                                            <img src="~/Content/img/Product/@item.fImgPath"
                                                 class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                            <div class="media-body">
                                                <a href="#" class="d-block text-dark" style="text-align:center;">@item.fProductName</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right font-weight-semibold align-middle p-4">
                                        @item.fDescription
                                    </td>
                                    <td class="text-right font-weight-semibold align-middle p-4">$@String.Format("{0:0}", item.fPrice)</td>
                                    <td class="align-middle p-4"style="text-align:center;">@item.fQuantity</td>
                                    <td class="text-right font-weight-semibold align-middle p-4">$@String.Format("{0:0}", total)</td>

                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>

            <table class="table table-borderless" style="border: 0px; background-color: rgba(0,0,0,.08);">
                <tr>
                    <td>
                        <button type="button" class="btn btn-lg btn-primary mt-2"
                                style="background-color: aliceblue; color: black;">
                            收件人資訊
                        </button>
                    </td>
                    <td>
                        <div style="font-size: large;line-height: 3;text-align: left;">@ViewBag.name</div>
                    </td>
                    <td>
                        <div style="font-size: large;line-height: 3;text-align: center;">@ViewBag.phone</div>
                    </td>
                </tr>
            </table>

            <table class="table table-borderless" style="border: 0px; background-color: rgba(0,0,0,.08);">
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg" style="background-color: aliceblue; color: black;">寄送資訊</button>

                        <div class="btn-group" role="group" style="padding-left:250px">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: aliceblue; color: black;">
                                7-11
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item link">text1</a></li>
                                <li><a class="dropdown-item link">text2</a></li>
                            </ul>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" style="background-color: aliceblue; color: black; margin-left: 30px; border-radius: 5px" data-bs-toggle="dropdown" aria-expanded="false">
                                全家
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item link" href="#">text1</a></li>
                                <li><a class="dropdown-item link" href="#">text2</a></li>
                            </ul>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" style="background-color: aliceblue; color: black; margin-left: 30px; border-radius: 5px " data-bs-toggle="dropdown" aria-expanded="false">
                                宅配
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item link" href="#">Dropdown link</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                            </ul>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div id="output" class="col" style="font-size: large;line-height: 3;">
                                    7-11成功門市  台南市北區勝利路138號
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- 付款資訊 -->
            <table class="table table-borderless" style="border: 0px; background-color: rgba(0,0,0,.08);">
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg" style="background-color: aliceblue; color: black;">付款資訊</button>

                        <div class="btn-group" role="group" style="padding-left:250px">
                            <button id="btnGroupDrop6" type="button" class="btn btn-outline-primary " aria-expanded="false" style="background-color: aliceblue; color: black;border-radius:5px;">
                                貨到付款
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop6">
                                <li><a class="dropdown-item link">text1</a></li>
                                <li><a class="dropdown-item link">text2</a></li>
                            </ul>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" style="background-color: aliceblue; color: black; margin-left: 30px; border-radius: 5px" data-bs-toggle="dropdown" aria-expanded="false">
                                信用卡
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop6">
                                <li><input type="text" /></li>
                            </ul>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col" style="font-size: large;line-height: 3;">
                                    XXXX商業銀行
                                </div>
                                <div class="col" style="font-size: large;line-height: 3;">
                                    ****-****-****-1234
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>



            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="mt-4">
                    <label class="text-muted font-weight-normal m-0">商品總計</label>
                    <div class="text-large"><strong>$@String.Format("{0:0}", sum)</strong></div>
                </div>

                <div class="mt-4">
                    <label class="text-muted font-weight-normal m-0">運費總計</label>
                    <div class="text-large"><strong>$60</strong></div>
                </div>

                <div class="d-flex">
                    <div class="text-right mt-4">
                        <button type="button" class="btn btn-lg btn-outline-secondary md-btn-flat mt-2 mr-3" onclick="location.href='~/Shopping/ShoppingCart'">返回購物車</button>
                        <a class="btn btn-lg btn-primary mt-2" href="~/ShoppingCart/CheckoutComplete">完成訂單</a>
                    </div>
                </div>
            </div>

            <!-- <div class="float-end">

                    </div> -->

        </div>
    </div>
</div>
