@using gogobuy.ViewModels;
@model List<CartViewModel>
@{
    ViewBag.Title = "ShoppingCart";
}

<style>

    .table-rwd {
    }
    /*這是額外做顏色，沒有什麼意義*/
    tr.tr-only-hide {
        color: #000;
    }

    @@media (max-width: 736px) {
        .table-rwd {
            min-width: 100%;
        }
        /*針對tr去做隱藏*/
        tr.tr-only-hide {
            display: none !important;
        }
        /*讓tr變成區塊主要讓他有個區塊*/
        .table-rwd tr {
            display: block;
            border: 1px solid #ddd;
            margin-top: 5px;
        }

        .table-rwd td {
            text-align: left;
            font-size: 15px;
            overflow: hidden;
            width: 100%;
            display: block;
        }

            .table-rwd td:before {
                /*最重要的就是這串*/
                content: attr(data-th) " : ";
                /*最重要的就是這串*/
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10px;
                color: #D20B2A;
            }
        /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
        .table-rwd.table-bordered td, .table-rwd.table-bordered th, .table-rwd.table-bordered {
            border: 0;
        }
    }
</style>

<div class="container px-3 my-5 clearfix">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 20px;">
            <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">購物車</li>
        </ol>
    </nav>
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2 style="text-align:center;">購物車</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-rwd">
                    <thead>
                        <tr style="text-align: center;" class="tr-only-hide">
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 150px;">商品名稱</th>
                            <th class="text-center py-3 px-4" style="min-width: 150px;">詳細資訊</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">價格</th>
                            <th class="text-center py-3 px-4" style="width: 140px;">數量</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">小計</th>
                            <th class="text-center" style="width: 95px;"><button class="btn btn-sm btn-outline-danger" id="clear">清空</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            //int count = 0;
                            decimal? sum = 0;
                            foreach (var item in Model)
                            {
                                //count++;
                                decimal? total = item.fPrice * item.fQuantity;
                                sum += total;
                                <tr class="cart-item">
                                    <td data-th="商品名稱" class="p-4">
                                        <div class="media align-items-center">
                                            <a style="text-decoration:none;" href="~/Details/ProductDetails?fProductID=@item.fProductID" class="link-success">
                                                <img src="~/Content/img/Product/@item.fImgPath" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                                <div class="media-body">
                                                    <p href="#" class="d-block text-dark" style="text-align: center;">@item.fProductName</p>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td data-th="詳細資訊" class="text-right font-weight-semibold align-middle p-4">@item.fDescription</td>
                                    <td data-th="價格" class="text-right font-weight-semibold align-middle p-4">$@String.Format("{0:0}", item.fPrice)</td>
                                    <td data-th="數量" class="align-middle p-4"><input type="text" class="form-control text-center quantity" value="@item.fQuantity" id="@item.fProductID"></td>
                                    <td data-th="小計" class="text-right font-weight-semibold align-middle p-4">$@String.Format("{0:0}", total)</td>
                                    <td data-th="清空" class="text-center align-middle px-0"><a class="remove-from-cart" href="@Url.Action("Delete", "ShoppingCart", new { id =item.fCartID })" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="mt-4" style="margin-left:70px;">
                    <label class="text-muted font-weight-normal m-0">商品總計</label>
                    <div class="text-large"><strong>$@String.Format("{0:0}", sum)</strong></div>
                </div>
                <div class="d-flex">

                    <div class="text-right mt-4">
                        <a type="button" class="btn btn-lg btn-outline-secondary md-btn-flat mt-2 mr-3" style="margin-right:30px;" href="~/Home/Index">返回購物</a>
                        <a class="btn btn-lg btn-outline-primary mt-2" href="~/ShoppingCart/CheckOut">送出訂單</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#clear").click(function () {
            $.ajax({
            url: "@Url.Action("DeleteAll", "ShoppingCart")",
            type: 'post',
            async: true,
            success: function (data) {
                if (data == "success") {
                    $('tr.cart-item').remove();
                    $('strong').text("$0");
                }
            }
        })
        }
        );
        $('.quantity').change(function () {
            let quantity = $(this).val();
            let productID = $(this).attr('id');
            $.ajax({
                url: "@Url.Action("ChangeQuantity", "ShoppingCart")",
                type: 'post',
                data: {
                    productID: productID,
                    quantity: quantity
                },
                async: true,
                success: function (data) {
                    if (data == "success") {
                        location.reload(true);
                    }
                }
            });
        });
    });
</script>
