@using gogobuy.ViewModels;
@model List<ProductViewModel>
@{
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
<head>
    <style>
        .item {
            width: 98%;
            height: 60%;
            margin: 0 auto;
        }

            .item > img {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                height: 100%;
            }

        .item-name {
            display: -webkit-box;
            width: 95%;
            height: 38px;
            margin: 0 auto;
            font-size: 0.95rem;
            line-height: 1.2rem;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .price {
            font-size: 0.95rem;
            padding: 3px 0;
        }

        div .col-md-2 {
            height: 300px;
        }

        .h5 {
            font-size: 1rem;
        }

        .like {
            cursor: pointer;
        }
    </style>
</head>
@*跑馬燈區塊*@
<article>
    <div class="row d-flex align-items-center">
        <div class=" col-md-3">
            <img src="~/Content/img/index/跑馬燈預設圖2.jpg" alt="Alternate Text" style="width:100%" />
        </div>
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/img/index/跑馬燈預設圖.jpg" class="d-block" alt="..." style="height:300px; width:100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/img/index/跑馬燈預設圖2.jpg" class="d-block" alt="..." style="height: 300px; width: 100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class=" col-md-3">
            <img src="~/Content/img/index/跑馬燈預設圖.jpg" alt="Alternate Text" style="width:100%" />
        </div>
    </div>
</article>
@*分類區塊*@
<section class="container my-5" style="background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #9fff99;">
    <h4 class="my-3 mx-5">分類：</h4>
    <div class="row text-center d-flex justify-content-between">
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=手機周邊" class="link-success">
                <img src="~/Content/img/index/smartphone.png" style="width:100%; max-width: 50px; " />
                <div class="h5">手機周邊</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=3C產品" class="link-success">
                <img src="~/Content/img/index/pc.png" style="width:100%; max-width: 50px; " />
                <div class="h5">3C產品</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4  border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=生活居家" class="link-success">
                <img src="~/Content/img/index/shopping-bag.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">生活居家</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=服飾飾品" class="link-success">
                <img src="~/Content/img/index/male-clothes.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">服飾飾品</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=名產食品" class="link-success">
                <img src="~/Content/img/index/snack.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">名產食品</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=文創書籍" class="link-success">
                <img src="~/Content/img/index/book.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">文創書籍</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=影音周邊" class="link-success">
                <img src="~/Content/img/index/cd-player.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">影音周邊</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=古董古玩" class="link-success">
                <img src="~/Content/img/index/vase.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">古董古玩</div>
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-4 border border-success rounded">
            <a href="~/SearchResult/SellSearchResult?fCategory=其他" class="link-success">
                <img src="~/Content/img/index/megaphone.png" style="width: 100%; max-width: 50px; " />
                <div class="h5">其他</div>
            </a>
        </div>
    </div>
</section>

@*販售熱門商品區塊*@
<img src="~/Content/img/index/b_ornament_121_0M.png" style="width:100%;" />
<section class="container" style="background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #CFFFCC;">
    <h4 class="my-3 mx-5">販售熱門商品：</h4>
    <div class="row text-center d-flex justify-content-between">
        @{
            int count = 1;
            foreach (ProductViewModel p in Model)
            {
                if (count <= 12)
                {
                    <div class="col-md-2 col-sm-3 col-6 border border-success">
                        <a href=@Url.Action("ProductDetails", "Details", new { fProductID = p.fProductID }) class="link-success">
                            <div class="item">
                                <img src="~/Content/img/Product/@p.fImgPath" />
                            </div>
                            <div class="item-name">@p.fProductName</div>
                        </a>
                        <div class="d-flex align-items-center justify-content-between price">
                            價格$@String.Format("{0:0}", p.fPrice)
                            @{ if (p.isLike)
                                {
                                    <img src="~/Content/img/img_memberCenter/heart.png" style="width:100%; max-width:30px;" id="@p.fProductID" class="like" />
                                }
                                else
                                {
                                    <img src="~/Content/img/img_memberCenter/unlike.png" style="width:100%; max-width:30px;" id="@p.fProductID" class="like" />
                                }
                            }
                        </div>
                    </div>
                }
                count++;
            }
        }


    </div>
</section>
@*願望商品區塊*@
<img src="~/Content/img/index/b_ornament_121_0M.png" style="width:100%;" />
<section class="container" style="background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #CFFFCC;">
    <h4 class="my-3 mx-5">最新請願商品：</h4>
    <div class="row text-center d-flex justify-content-between">
        @{
            int count2 = 1;
            foreach (ProductViewModel p in Model)
            {
                if (count2 > 12)
                {
                    <div class="col-md-2 col-sm-3 col-6 border border-success">
                        <a href=@Url.Action("BucketListDetails", "Details", new { fProductID = p.fProductID }) class="link-success">
                            <div class="item">
                                <img src="~/Content/img/Product/@p.fImgPath" />
                            </div>
                            <div class="item-name">@p.fProductName</div>
                        </a>
                        <div class="d-flex align-items-center justify-content-end price">
                            價格$@String.Format("{0:0}", p.fPrice)
                        </div>
                        <div class="d-flex align-content-end justify-content-end">
                            <small>@p.fProductLocation</small>
                        </div>
                    </div>
                }
                count2++;
            }
        }
    </div>
</section>
<img src="~/Content/img/index/b_ornament_121_0M.png" style="width:100%;" />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                要使用此功能，請先登入會員！
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal">關閉</button>
                <a href=@Url.Action("Login", "home") class="btn btn-primary  m-2">登入</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('img.like').click(function (event) {
            var productID = event.target.id;
            if ($(this).attr('src') == '/Content/img/img_memberCenter/unlike.png') {
                $.ajax({
                    url: "@Url.Action("LikeItem", "Collect")",
                    type: 'post',
                    data: {
                        productID: productID
                    },
                    async: true,
                    success: function (data) {
                        if (data == 'success') {
                            $('#' + productID).attr('src', '/Content/img/img_memberCenter/heart.png');
                        }
                        if (data == 'login') {
                            $('#myModal').modal('show');
                        }
                    }
                });
            } else {
                $.ajax({
                url: "@Url.Action("Delete", "Collect")",
                type: 'post',
                data: {
                    productID: productID
                },
                async: true,
                success: function (data) {
                    $('#' + productID).attr('src', '/Content/img/img_memberCenter/unlike.png');
                }
                });
            }
        });
    });

</script>

